.about {
  padding: 80px 0;

  &__desc {
    margin-top: 20px;
    font-size: 20px;
  }

  &__list-title {
    margin-top: 30px;
  }

  ul {
    width: 100%;
    max-width: 700px;
    margin: 20px 0 !important;
    list-style-type: decimal;
  }

  li {
    margin: 0 0 0 50px;
    padding: 10px 0;
    font-size: 20px;
  }

  &__user-title {
    margin-bottom: 20px;
  }

  &__user-desc {
    width: 100%;
    max-width: 700px;
    margin-bottom: 20px;
    font-size: 20px;
  }
}

@media screen and (max-width: 840px) {
  .about {
    h2 {
      font-size: 23px;
    }

    h3 {
      font-size: 21px;
    }

    &__list-title {
      width: 100% !important;
    }

    li {
      font-size: 16px;
    }

    p {
      font-size: 16px;
    }
  }
}
