.products {
  h2 {
    color: #60be74;
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;
  }
  
  &__inner {
    gap: 20px;
    justify-content: center;
  }

  .view-btn {
    display: block;
    margin: 30px auto 0;
    padding: 10px 20px;
    border: none;
    background-color: #60be74;
    color: #fff;
    border-radius: 5px;
  }
}

@media screen and (max-width: 1220px) {
  .products__inner {
    gap: 10px;
  }
}