.products {
  h2 {
    color: #60be74;
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;
  }

  &__inner {
    gap: 20px;
    justify-content: center;
  }

  a.view-btn {
    display: block;
    width: 100%;
    max-width: 230px;
    margin: 30px auto 0;
  }
}

@media screen and (max-width: 1220px) {
  .products__inner {
    gap: 10px;
  }
}
