.buy__vacancy__get {
  margin-top: 60px;
}

.buy__vacancy__get__select {
  padding: 10px 60px 10px 20px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-image: url('../../assets/images/arrow-down.svg');
  background-size: 12px;
  background-position: right 20px center;
  background-repeat: no-repeat;
  background-color: #60be74cf;
  appearance: none;
  color: #fff;
}

.buy__vacancy__get__cards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 20px;
}

.buy__vacancy__form__sort {
  width: 400px;
}

@media screen and (max-width: 700px) {
  .sort {
    display: inline-block !important;
    text-align: center;
  }
  .buy__vacancy__get__top {
    text-align: center;
  }
  .buy__vacancy__get__select {
    margin-bottom: 15px;
  }
  .buy__vacancy__form__sort {
    width: auto;
  }
}
@media screen and (max-width: 420px) {
  .sort {
    display: flex !important;
    flex-direction: column;
  }
  .buy__vacancy__get__top {
    text-align: center;
  }
  .buy__vacancy__get__select {
    margin-bottom: 15px;
  }
}
