.buy__vacancy__get {
  margin-top: 60px;
}

.buy__vacancy__get__select {
  padding: 10px 60px 10px 20px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-image: url('../../assets/images/arrow-down.svg');
  background-size: 12px;
  background-position: right 20px center;
  background-repeat: no-repeat;
  background-color: #60be74cf;
  appearance: none;
  color: #fff;
}

.buy__vacancy__get__cards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px 0;
}
